<div class="container">
    <div class="welcome-quote p-2">Order List</div>
    <div
        class="row mb-3 row-bg-color "
        *ngFor="let item of itemDetails"
    >
        <div class="col col-bg-color py-3">
            <div class="item-details ">
                <div class="item-name d-flex justify-content-between p-3 my-1">
                    {{item.itemName}}
                    <div
                        class="btn order-details mr-1"
                        (click)="orderDetails(item)"
                    >
                        View Order Details
                    </div>
                </div>
                <div class="details p-2 m-1">
                    <div class="customer-name py-1">Customer name</div>
                    <div class="py-1">{{item?.customerName}}</div>
                    <div class="number-ordered py-1">No. of items ordered</div>
                    <div class="py-1">{{item?.numOrder}}</div>
                    <div class="total-amount py-1">Total amount</div>
                    <div class="py-1">
                        {{ item?.totalAmount | currency:'INR':'symbol-narrow':'3.0-0'}}
                    </div>
                    <div class="status py-1">Status of the order</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div
                        class="status-text px-3 ml-3"
                        [ngClass]="{'orderReceived': item?.status===1, 'preparing': item?.status===2, 'readyToServe': item?.status===3}"
                    >
                        {{item?.status === 1? 'Order Received': item?.status === 2? 'Preparing': item?.status === 3? 'Ready to Serve': 'Unknown Status'}}
                    </div>
                    <div
                        *ngIf="item?.status!==3"
                        class="btn change-status mr-3 "
                        (click)="changeStatus(item)"
                    >
                        Change Status
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
